* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui;
}
body {
  padding: 32px;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 80px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.treact_logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.color_purple {
  color: #6415ff;
}
.text_half,
.img_half {
  width: 50%;
}
.img_half {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_half_right {
  padding-right: 64px;
}
.text_half_left {
  padding-left: 64px;
}
.img_section {
  width: 100%;
}
.learn_more_button {
  font-size: 14px;
  color: #f7fafc;
  background-color: #6415ff;
  margin: 32px 0 0;
  padding: 12px 32px;
  border-radius: 50px;
  line-height: 1;
  border: none;
  font-weight: 700;
  transition: all 300ms ease;
  width: 141.25px;
  height: 45px;
}
.learn_more_button:hover {
  cursor: pointer;
  background-color: #5011cc;
  color: #edf2f7;
}
.section_row {
  display: flex;
}

.section_sub_title {
  font-size: 16px;
  color: #6415ff;
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.section_title {
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
}
.sub_title_text_center {
  font-size: 16px;
  color: #6415ff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.title_text_center {
  text-align: center;
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
}
.para_text_center {
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 16px;
  font-weight: 500;
}

/* nav */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_logo:hover .logo_text {
  cursor: pointer;
  color: #6415ff;
}
.logo_text {
  font-weight: 900;
  font-size: 24px;
  margin-right: 24px;
  align-items: center;
  color: #243e63;
  transition: all 300ms ease;
}
.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_links {
  display: flex;
}
.nav_link {
  margin: 0px 1.5rem;
  padding: 0 0 4px;
  font-weight: 600;
  color: #243e63;
  position: relative;
  transition: all 300ms ease;
}
.nav_link:hover {
  color: #6415ff;
}
.nav_link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -3px;
  right: 0;
  opacity: 0;
  background-color: #6415ff;
  transition: opacity 300ms ease;
}
.nav_link:hover:after {
  opacity: 1;
}
.nav_link_account_login {
  margin: 0 24px 0 48px;
}
.nav_link_account_sign_up {
  font-size: 14px;
  margin: 0;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 50px;
  color: #f7fafc;
  font-weight: 600;
  transition: all 300ms ease;
}
.nav_link_account_sign_up:hover {
  background-color: #5011cc;
  color: #edf2f7;
}
.menu_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.menu_list_item {
  padding: 0 0 4px;
  margin: 8px 0;
}
.menu_link {
  font-size: 18px;
  font-weight: 600;
  color: #1a202c;
  position: relative;
  transition: all 300ms ease;
}
.menu_link:hover {
  color: #6415ff;
}
.menu_link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -3px;
  right: 0;
  opacity: 0;
  background-color: #6415ff;
  transition: opacity 300ms ease;
}
.btn_menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  display: none;
  transition: all 300ms ease;
}
.btn_menu:hover {
  color: #7342d6;
  cursor: pointer;
}
.btn_menu_close {
  position: absolute;
  top: 12px;
  right: 24px;
}
.menu_backdrop {
  position: fixed;
  color: #1a202c;
  background-color: #ffffff;
  border: 1px #e2e8f0 solid;
  border-radius: 0.5rem;
  margin: 24px 16px;
  padding: 32px;
  height: 378px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}
.menu_open .menu_backdrop {
  visibility: visible;
  opacity: 1;
  animation: menu_slide_open 300ms;
}
@keyframes menu_slide_open {
  0% {
    transform: translateX(120%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
.menu_close .menu_backdrop {
  animation: menu_slide_close 300ms;
}
@keyframes menu_slide_close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}
.menu_open {
  max-height: 100vh;
}
.menu_link:hover:after {
  opacity: 1;
}
.menu_link_account_sign_up {
  font-size: 18px;
  margin: 8px;
  padding: 12px 32px;
  width: 134.69px;
  height: 51px;
  background-color: #6415ff;
  border-radius: 50px;
  color: #f7fafc;
  font-weight: 600;
  transition: all 300ms ease;
}
.menu_link_account_sign_up:hover {
  background-color: #5011cc;
  color: #edf2f7;
}

/* landing */
.landing_title {
  font-size: 48px;
  color: #1a202c;
  font-weight: 700;
}
.landing_text {
  width: 40%;
}
.landing_pic {
  width: 60%;
}
.landing_img {
  width: 100%;
}
.landing_para {
  color: #243e63;
  margin: 32px 0;
}
.landing_email {
  position: relative;
  max-width: 28rem;
  text-align: center;
  display: block;
  --tw-content: "";
}
.landing_input {
  font-size: 100%;
  background-color: #ffffff;
  width: 100%;
  border-radius: 50px;
  border-width: 2px;
  border-color: #e2e8f0;
  border-style: solid;
  padding-left: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  font-weight: 500;
}
.landing_input::placeholder {
  color: #cbd6e2;
}
.landing_input:hover {
  --tw-border-opacity: 1;
  border-color: rgb(160 174 192 / var(--tw-border-opacity));
}
.landing_input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  outline: transparent solid 2px;
  outline-offset: 2px;
}
.landing_button {
  font-size: 16px;
  color: #f7fafc;
  background-color: #6415ff;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  border-radius: 50px;
  height: 52px;
  width: 160px;
  line-height: 1;
  border: none;
  position: absolute;
  font-weight: 700;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transition: all 300ms ease;
}
.landing_button:hover {
  cursor: pointer;
  background-color: #5011cc;
  color: #edf2f7;
}
.trusted_customers {
  margin: 80px 0 0;
}
.trusted_customers_para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
}
.trusted_customers_img {
  width: 100%;
  margin: 16px 0 0;
  padding: 0 64px 0 0;
  opacity: 0.5;
}

/* features */
.features_row{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
.service {
  display: flex;
  width: calc((100%) / 3);
  flex-wrap: wrap;
}
.service_container {
  height: 100%;
  margin: 0 16px;
  padding: 32px 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
}
.img_container {
  height: 0;
  border-width: 1px;
  padding: 1.907rem;
  text-align: center;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_img {
  z-index: 2;
  width: 24px;
  height: 24px;
  position: absolute;
}
.text_container {
  margin-left: 16px;
}
.service_title {
  font-size: 24px;
  color: #243e63;
  margin: 0;
}
.service_para {
  font-size: 16px;
  color: #7c8ba1;
  margin: 16px 0 0;
}

/* quality work  */

.quality_work_para {
  font-size: 18px;
  color: #7c8ba1;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 16px;
  font-weight: 500;
}

/* steps */

.steps_list {
  margin: 48px 0 0;
  display: flex;
  flex-direction: column;
}
.steps_item {
  display: flex;
  margin: 32px 0 0;
}
.steps_item_number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
}
.steps_item_text {
  margin: 0 0 0 24px;
}
.steps_item_title {
  font-size: 20px;
  color: #243e63;
  font-weight: 600;
}
.steps_item_para {
  font-size: 14px;
  color: #718096;
  margin: 12px 0 0;
  font-weight: 500;
}

/* values */

.values_para {
  font-size: 18px;
  color: #7c8ba1;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 32px;
  font-weight: 500;
}
.values_list {
  margin: 48px 0 0;
  display: flex;
}
.values_item {
  display: flex;
  margin: 32px 0 0;
  flex-direction: column;
}
.values_item_img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  padding: 8px;
}
.values_item_img_dollar_sign {
  color: #276749;
  background-color: #9ae6b4;
}
.values_item_img_briefcase {
  color: #9b2c2c;
  background-color: #feb2b2;
}
.values_item_text {
  display: flex;
}
.values_item_title {
  font-size: 20px;
  color: #243e63;
  font-weight: 600;
  margin: 0 0 0 12px;
}
.values_item_para {
  font-size: 16px;
  color: #718096;
  margin: 16px 0 0;
  font-weight: 500;
}
.values_item_left {
  margin: 32px 32px 0 0;
}
.values_item_right {
  margin: 32px 0 0;
}
.values_learn_more_button {
  margin: 48px 0 0;
}

/* pricing */

.prices_plans {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.prices_plan {
  width: calc(100% / 3);
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
  position: relative;
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prices_plan_cost {
  padding: 32px 0;
}
.prices_plan_cost_use {
  font-size: 20px;
  color: #1a202c;
  font-weight: 700;
  text-align: center;
}
.prices_plan_cost_price {
  font-size: 48px;
  color: #1a202c;
  font-weight: 700;
  text-align: center;
  margin: 4px 0;
}
.prices_plan_cost_duration {
  font-size: 16px;
  color: #a0aec0;
  font-weight: 700;
  text-align: center;
}
.prices_plan_benefits {
  margin: 0 -32;
  padding: 32px;
  border-top: #e2e8f0 2px solid;
  border-bottom: #e2e8f0 2px solid;
  width: 100%;
  box-sizing: content-box;
}
.border_667eea {
  border-top: #667eea 2px solid;
  border-bottom: #667eea 2px solid;
}
.prices_plan_benefits_main {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #1a202c;
}
.prices_plan_benefits_sub {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #718096;
  margin: 20px 0 0;
}
.buy_now {
  color: #6415ff;
  font-size: 14px;
  padding: 16px 32px;
  background-color: #f7fafc;
  margin: 32px;
  border-radius: 50px;
  border: none;
  width: 170px;
  height: 53px;
  font-weight: 700;
  transition: all 300ms ease;
}
.buy_now:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 40%);
  transform: translateX(1px);
  transform: translatey(-1px);
}
.green_gradient {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.red_gradient {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.blue_gradient {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}
.color_f7fafc {
  color: #f7fafc;
}
.color_edf2f7 {
  color: #edf2f7;
}

/* get started */

.get_started_row {
  display: flex;
  background-color: #6415ff;
  border-radius: 0.5rem;
  height: 282px;
  align-items: center;
  padding: 0 32px;
}
.button_half {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.get_started_text {
  font-size: 30px;
  color: #f7fafc;
  font-weight: 700;
}
.get_started_button {
  font-size: 16px;
  margin: 0 32px 0 0;
  padding: 20px 40px;
  font-weight: 700;
  width: 176.88px;
  height: 66px;
  border-radius: 50px;
  border: none;
  color: #f7fafc;
  background-color: #f56565;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_us_button {
  font-size: 16px;
  padding: 20px 40px;
  font-weight: 700;
  width: 176.88px;
  height: 66px;
  border-radius: 50px;
  border: 1px solid #a0aec0;
  color: #f7fafc;
  background-color: #6415ff;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get_started_button:hover {
  background-color: #e53e3e;
  color: #edf2f7;
}
.contact_us_button:hover {
  border-color: #6415ff;
  background-color: #f7fafc;
  color: #6415ff;
}

/* footer */

footer {
  background-color: #6415ff;
  width: 100%;
  position: absolute;
  padding: 96px 32px;
  margin: 0 -32px;
}
.footer_list {
  display: flex;
  flex-wrap: wrap;
}
.footer_list_item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
}
.footer_list_item_title {
  font-size: 16px;
  color: #f7fafc;
  text-transform: uppercase;
}
.footer_list_item_list {
  margin: 24px 0 0;
}
.footer_list_item_list_item {
  margin: 12px 0 0;
}
.footer_list_item_list_link {
  font-size: 14px;
  padding: 0 0 4px;
  color: #f7fafc;
  font-weight: 500;
  position: relative;
}
.footer_list_item_list_link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -3px;
  right: 0;
  opacity: 0;
  background-color: #f7fafc;
  transition: opacity 300ms ease;
}
.footer_list_item_list_link:hover:after {
  opacity: 1;
}
.footer_seperator {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  border-bottom: 1px solid #742cff;
  border-bottom-width: 2px;
  border-color: #742cff;
}
.copy_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  display: flex;
  align-items: center;
}
.treact_logo_footer {
  margin-right: 0px;
}
.footer_logo_text {
  font-size: 20px;
  color: #f7fafc;
  margin-left: 8px;
  font-weight: 900;
}
.copy_right_text {
  font-size: 16px;
  color: #cbd5e0;
  font-weight: 500;
}
.footer_links {
  display: flex;
}
.footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  padding: 8px;
  border-radius: 50px;
  background-color: #f7fafc;
  position: relative;
  width: 32px;
  height: 32px;
  transition: all 300ms ease;
}
.footer_link:hover {
  background-color: #cbd5e0;
  cursor: pointer;
}
.footer_link_img {
  color: #1a202c;
}

/* SMALL PHONES, TABLETES, LARGE SMATPHONES */

@media (max-width: 1023px) {
  .nav_list {
    display: none;
  }
  .btn_menu {
    display: block;
  }
  .section_row {
    flex-direction: column;
    align-items: center;
  }
  .landing_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing_title {
    font-size: 30px;
  }
  .landing_para {
    text-align: center;
    margin: 20px 0;
  }
  .trusted_customers_para {
    text-align: center;
    font-size: 14px;
  }
  .trusted_customers_img {
    padding: 0;
    margin: 16px 0 0;
  }
  .landing_pic {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .landing_img {
    width: 512px;
    height: 368.39px;
  }
  .para_text_center {
    font-size: 14px;
    margin: 16px 0 0;
  }
  .service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service_title {
    display: flex;
  }
  .service_para {
    width: 254px;
    height: 96px;
  }
  .service_para {
    font-weight: 500;
  }
  .section_row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_section {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 448px;
    margin: 0 auto;
  }
  .text_half {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding: 0;
    margin: 64px auto 0;
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_sub_title {
    text-align: center;
  }
  .section_title {
    font-size: 36px;
    margin: 16px 0 0;
    text-align: center;
    width: 100%;
  }
  .quality_work_para {
    text-align: center;
    font-size: 14px;
  }
  .learn_more_button {
    padding: 0 auto;
  }
  .steps_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps_item_text {
    text-align: center;
    margin: 12px 0 0;
  }
  .values_para {
    font-size: 14px;
    text-align: center;
  }
  .values_list {
    display: flex;
    flex-direction: column;
    margin: 0 64px;
  }
  .values_item {
    margin: 40px 0 0;
    width: 320px;
    text-align: center;
  }
  .values_item_text {
    display: flex;
    justify-content: center;
  }
  .prices_plans {
    display: flex;
    flex-direction: column;
  }
  .prices_plan {
    width: 100%;
    margin: 64px 0 0;
    width: 384px;
    height: 607.5px;
  }
  .buy_now {
    width: 256px;
  }
  .get_started_row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .get_started_text {
    text-align: center;
  }
  .button_half {
    margin: 24px 0 0;
    display: flex;
    justify-content: center;
  }
  .get_started_button {
    padding: 16px 32px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
  }
  .contact_us_button {
    padding: 16px 32px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
  }
  .footer_list_item {
    width: calc(100% / 3);
    margin: 48px 0 0;
    align-items: flex-start;
  }
  .copy_right {
    flex-direction: column;
  }
  .copy_right_text {
    margin: 32px 0 0;
  }
  .footer_links {
    margin: 32px 0 0;
  }
}
@media (max-width: 639px) {
  .landing_email {
    display: flex;
    flex-direction: column;
  }
  .landing_button {
    position: unset;
    width: 100%;
  }
  .trusted_customers {
    margin: 48px;
  }
  .title_text_center {
    font-size: 36px;
  }
  .service_container {
    flex-direction: column;
    align-items: center;
  }
  .text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 0;
  }
  .service_para {
    text-align: center;
    margin: 4px 0 0;
  }
  .get_started_text {
    font-size: 24px;
  }
  .button_half {
    flex-direction: column;
    margin: 24px 0 0;
    width: auto;
  }
  .get_started_button {
    margin: 0;
    padding: 12px 24px;
    font-size: 14px;
    width: auto;
    height: auto;
    justify-content: center;
  }
  .contact_us_button {
    margin: 16px 0 0;
    padding: 12px 24px;
    font-size: 14px;
    width: auto;
    height: auto;
    justify-content: center;
  }
  .footer_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-areas: "footer_list_item";
  }
  .footer_list_item {
    max-width: 20%;
    padding: 0 16px;
  }
  .footer_list_item_title {
    text-align: center;
  }
  .footer_list_item_list_item {
    text-align: center;
  }
}
